<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">STUDENT NAME</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Subject ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>1</td>
                        <td>Math</td>
                        <td>83</td>
                        <td>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px;" href="">Detail</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: green;" href="">Add</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: red;" href="">Delete</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: blue;" href="">Edit</a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>2</td>
                        <td>English</td>
                        <td>83</td>
                        <td>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px;" href="">Detail</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: green;" href="">Add</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: red;" href="">Delete</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: blue;" href="">Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>3</td>
                        <td>Physics</td>
                        <td>83</td>
                        <td>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px;" href="">Detail</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: green;" href="">Add</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: red;" href="">Delete</a>
                            <a class="btn btn-sm btn-primary" style="margin-right: 10px; background-color: blue;" href="">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->